body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

header h1 {
  margin: 0;
}

header label {
  margin-left: auto;
  display: inline-block;
  text-align: right; 
}

header time,
header em {
  display: block;
  text-align: right;
}

header em {
  color: #888;
  font-style: italic;
}

#time-slider {
  width: 300px;
}